@model IEnumerable<GoldenPet.Models.tb_Advertisement>

<div class="navbar-nav mr-auto py-0">
    @foreach (var i in Model)
    {
        <img class="w-100" src="~/Content/img/@i.img" alt="Image">


    }

</div>

