<a class="nav-link" href="@Url.Action("Login", "UserAccount")">
    <i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffffff;"></i>
    <span class="shopping__cart-notice" id="num-products"></span>
</a>
<div class="shopping__cart-list ">

    <h4 class="shopping__cart-heading">Sản phẩm đã thêm</h4>
    <div class="shopping__cart-list--no-cart">
        <p class="shopping__cart-list--no-cart-msg">Hổng cóa sản phẩm :<<< </p>
    </div>
    </div>
