
@{
    ViewBag.Title = "Giỏ hàng và thanh toán";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanh  toán</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" />
    <link href="~/Content/css/card.css" rel="stylesheet" />

</head>
<body>
    <div class="main-container">
        <div class="flex-column-b">
            <div class="line"></div>
            <span class="shopping-cart">Giỏ hàng</span><span class="cart-items">You have 3 item in your cart</span>
            <div class="rectangle">
                <div class="rectangle-1"></div>
                <span class="italy-pizza">Italy Pizza</span>
                <button class="trash-can"></button>
                <span class="price">$681</span><span class="quantity">1</span>
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <span class="topping">Extra cheese and toping</span>
            </div>
            <div class="rectangle-4">
                <div class="rectangle-5"></div>
                <span class="combo-plate">Combo Plate</span>
                <button class="trash-can"></button>
                <span class="dollar-sign">$681</span><span class="number-one">1</span>
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
                <span class="extra-cheese-topping">Extra cheese and toping</span>
            </div>
            <div class="rectangle-9">
                <div class="rectangle-a"></div>
                <span class="spanish-rice">Spanish Rice</span>
                <button class="trash-can"></button>
                <span class="dollar-sign-c">$681</span><span class="span">1</span>
                <div class="rectangle-d"></div>
                <div class="rectangle-e"></div>
                <span class="span-f">Extra garllic</span>
            </div>
            <div class="arrow"></div>
            <span class="span-10">TIếp tục mua sắm</span>
        </div>
        <div class="rectangle-11">
            <span class="span-12">Chi tiết thanh toán</span><span class="span-13">Chọn phương thức thanh toán</span>
            <div class="flex-row-cd">
                <button class="rectangle-14"></button>
                <button class="rectangle-15"></button>
                <button class="rectangle-16"></button>
            </div>
            <span class="span-17">Tên trên thẻ</span>
            <div class="rectangle-18"><input class="group-input" /></div>
            <span class="card-number">Số thẻ</span>
            <div class="rectangle-19"><input class="group-input-1a" /></div>
            <div class="flex-row-d">
                <span class="expiration-date">Ngày hết hạn</span><span class="cvv">CVV</span>
            </div>
            <div class="flex-row-fe">
                <div class="rectangle-1b"><input class="group-input" /></div>
                <div class="rectangle-1c"><input class="group-input" /></div>
            </div>
            <div class="wrapper-4">
                <span class="text-1a">Tổng </span><span class="text-1b">$1,668</span>
            </div>
            <div class="box-7">
                <span class="text-1c">Phí giao hàng</span><span class="text-1d">$4</span>
            </div>
            <div class="group-3">
                <span class="text-1e">Tổng hóa đơn (Tax incl.)</span><span class="text-1f">$1,672</span>
            </div>
            <button class="section-2">
                <span class="text-20">Thanh toán</span><span class="text-21">$1,672</span>
                <div class="pic-9"></div>
            </button>
        </div>
    </div>

</body>
</html>



