@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container-fluid bg-light pt-5">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3"> Các dịch vụ</h4>
            <h1 class="display-4 m-0"><span class="text-primary">Cao cấp</span> cho thú cưng</h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class=" d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 w-100">
                    <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Chăm sóc nội trú</h3>
                    <p>Khi bạn không thể ở bên cạnh thú cưng của mình, dịch vụ chăm sóc nội trú của chúng tôi sẽ là lựa chọn hoàn hảo. Tại GoldenPet, chúng tôi cung cấp môi trường an toàn, thoải mái và thân thiện, nơi thú cưng của bạn được chăm sóc chu đáo bởi đội ngũ nhân viên giàu kinh nghiệm.</p>
                    <a class="text-uppercase font-weight-bold" href="" style="margin-top: auto;">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class=" d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 w-100">
                    <h3 class="flaticon-food display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Tư vấn dinh dưỡng và sức khỏe</h3>
                    <p>Chúng tôi hiểu rằng chế độ dinh dưỡng là yếu tố quan trọng hàng đầu trong việc duy trì sức khỏe và sự phát triển của thú cưng. Đội ngũ chuyên gia dinh dưỡng của chúng tôi sẵn sàng cung cấp những lời khuyên hữu ích để giúp bạn chăm sóc tốt nhất cho người bạn bốn chân của mình.</p>
                    <a class="text-uppercase font-weight-bold" href="" style="margin-top: auto;">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class=" d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 w-100">
                    <h3 class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Grooming</h3>
                    <p>Chúng tôi tự hào mang đến dịch vụ grooming toàn diện cho thú cưng, giúp chúng không chỉ trông xinh đẹp mà còn khỏe mạnh và thoải mái. Đội ngũ chuyên gia yêu thú cưng của chúng tôi sẽ chăm sóc từng chi tiết, đảm bảo rằng mỗi lần ghé thăm là một trải nghiệm thú vị cho bạn và thú cưng.</p>
                    <a class="text-uppercase font-weight-bold" href="@Url.Action("Detail","Service")" style="margin-top: auto;">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class=" d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 w-100">
                    <h3 class="flaticon-cat display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Huấn luyện</h3>
                    <p>Chúng tôi cung cấp các chương trình huấn luyện toàn diện nhằm phát triển hành vi và kỹ năng cho thú cưng của bạn. Đội ngũ huấn luyện viên dày dạn kinh nghiệm của chúng tôi cam kết giúp thú cưng của bạn trở nên ngoan ngoãn, tự tin và biết cách tương tác tích cực với môi trường xung quanh.</p>
                    <a class="text-uppercase font-weight-bold" href=" style="margin-top: auto;"">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class=" d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 w-100">
                    <h3 class="flaticon-dog display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Pet Exercise</h3>
                    <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                    <a class="text-uppercase font-weight-bold" href="" style="margin-top: auto;">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 d-flex">
                <div class=" d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 w-100">
                    <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Pet Treatment</h3>
                    <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo</p>
                    <a class="text-uppercase font-weight-bold" href="" style="margin-top: auto;">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
</div>