
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/LoginLayout .cshtml";
}

<div class="form">
    <span class="title">Đăng ký</span>

    <div class="login-form">
        <span class="usuario-correo-electronico">Tên đăng nhập</span>
        <input type="text" class="form-control input-field " />

        <div class="pass d-flex justify-content-between align-items-center">
            <span class="contrasena">Mật khẩu</span>
        </div>
        <input type="password" class="form-control input-field" />

        <div class="pass d-flex justify-content-between align-items-center">
            <span class="contrasena">Nhập lại mật khẩu</span>
        </div>
        <input type="password" class="form-control input-field" />

        <div class="empty"></div>
        <button class="submit-button">
            <span class="login-text">Đăng ký</span>
        </button>

    </div>

    <div class="login-separator">
        <div class="line"></div>
        <span class="o-inicia-sesion">Hoặc đăng ký bằng</span>
        <div class="line-2"></div>
    </div>

    <div class="external-login">
        <button class="button"><div class="google"></div></button>
        <button class="button"><div class="facebook"></div></button>
        <button class="button"><div class="vector"></div></button>

    </div>
    <div class="footer">
        <div class="vector-3"></div>
        <span class="devmiguelfg">devmiguelfg</span>
    </div>
</div>

