@model GoldenPet.Models.tb_Product
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Product Detail Start -->

<link href="~/Content/css/product_detail.css" rel="stylesheet" />

<div class="main-container">
    <div class="container">
        <div class="frame">
            @*<div class="frame-1">
                <div class="arrow-left"></div>
                <span class="back-to-list">back to list</span>
            </div>
            <div class="ellipse"></div>
            <div class="group"></div>*@
            <img class="img-fluid w-100 mb-4" src="/Content/img/@Model.img" alt="Product Image">
            <div class="ellipse-2"></div>
        </div>
        <div class="flex-column-fdc">
            <span class="product_name">@Model.name</span>
            <div class="frame-3">
                <div class="frame-4"><span class="brand">@Model.brand</span></div>
                <div class="line"></div>
                <div class="frame-5"><span class="allaf">ALLAF</span></div>
            </div>
            <div class="frame-6">
                <div class="frame-7">
                    <span class="description-detail">Mô tả:</span>
                    <span class="complete-nutrition">@Model.description</span>
                </div>
                @*<div class="frame-8">

                    <button class="rectangle"><img src="/Content/img/@Model.img" /></button>
                    <button class="rectangle-9"><img src="/Content/img/@Model.img2" /></button>
                    <button class="rectangle-a"><img src="/Content/img/@Model.img3" /></button>
                    <button class="rectangle-b"><img src="/Content/img/@Model.img4" /></button>
                </div>*@
                @{ Html.RenderAction("getImageProduct");}

                <div class="frame-b">
                    <span class="size-label">Size:</span>
                    <div class="frame-c">
                        <button class="frame-button"><span class="weight-1-5kg">1.5 kg</span></button>
                        <button class="frame-button-d"><span class="weight-1kg">1 kg</span></button>
                        <button class="button-frame"><span class="span-gr">500 gr</span></button>
                        <button class="button-frame-e"><span class="span-gr-f">250 gr</span></button>
                    </div>
                </div>
                <div class="div-frame">
                    <span class="span-ingrendients">Ingredients:</span>
                    <span class="span-nutrisi">Nutrisi<br />Vitamin E<br />Protein</span>
                </div>
            </div>
            <div class="div-frame-10">
                <div class="div-frame-11">
                    <div class="div-frame-12">
                        <span class="span-quantity">Số lượng:</span>
                        <div class="minus-square"></div>
                        <button class="button-group">
                            <div class="frame-13"><span class="span-1">1</span></div>
                        </button>
                        <div class="plus-square"></div>
                    </div>
                    <button class="button-frame-14"><span class="add-to-card">THÊM VÀO GIỎ HÀNG</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Detail End -->
