
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}

@Styles.Render("~/css/login")


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" />
    <style>
        .input-field {
            width: 100%;
            height: 50px;
            border: 1.5px solid #808080;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="design-pc">
            <div class="login">
                <div class="logo">
                    <div class="subtract"></div>
                    <span class="untitled-ui">Goldent Pet</span>
                </div>
                <div class="form">
                    <span class="title">Đăng nhập</span>
                    <div class="external-login">
                        <button class="button" style="width: 150px;"><div class="google"></div></button>
                        <button class="button" style="width: 150px;"><div class="facebook"></div></button>
                        <button class="button" style="width: 150px;"><div class="vector"></div></button>
                    </div>
                    <div class="login-separator">
                        <div class="line"></div>
                        <span class="o-inicia-sesion">Hoặc đăng nhập bằng</span>
                        <div class="line-2"></div>
                    </div>
                    <div class="login-form">
                        <span class="usuario-correo-electronico">Tên đăng nhập</span>
                        <input type="text" class="form-control input-field " />

                        <div class="pass d-flex justify-content-between align-items-center">
                            <span class="contrasena">Mật khẩu</span>
                            <span class="olvidaste-tu-contrasena">Bạn quên mật khẩu?</span>
                        </div>

                        <input type="password" class="form-control input-field"/>

                        <div class="empty"></div>
                        <button class="submit-button">
                            <span class="login-text">Đăng nhập</span>
                        </button>

                        <div class="footer">
                            <div class="vector-3"></div>
                            <span class="devmiguelfg">devmiguelfg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="description">
                    <span class="misifu">Golden Pet</span>
                    <span class="misifu-description">“Mang đến cho các Pet xinh yêu những trải nghiệm dịch vụ tốt nhất”</span>
                    <input class="description-input" placeholder="Nhập mô tả" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

