
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" />
    <link rel="stylesheet" href="~/Content/css/login.css" />
    

</head>
<body>
    <div class="main-container">
        <div class="design-pc">
            <div class="login">
                <div class="logo">
                    <div class="subtract"></div>
                    <span class="untitled-ui">Goldent Pet</span>
                </div>
                <div class="form">
                    <span class="title">Đăng nhập</span>
                    <div class="external-login">
                        <div class="frame"><div class="google"></div></div>
                        <button class="button"><div class="facebook"></div></button>

                    </div>
                    <div class="login-separator">
                        <div class="line"></div>
                        <span class="o-inicia-sesion">Hoặc đăng nhập bằng</span>
                        <div class="line-2"></div>
                    </div>
                    <div class="login-form">
                        <span class="usuario-correo-electronico">Tên đăng nhập</span>
                        <div class="input"></div>
                        <div class="wrapper-4"></div>
                        <div class="pass">
                            <span class="contrasena">Mật khẩu</span><span class="olvidaste-tu-contrasena">Bạn quên mật khẩu?</span>
                        </div>
                        <div class="input-field"></div>
                        <div class="empty"></div>
                        <button class="submit-button">
                            <span class="login-text">Đăng nhập</span>
                        </button>
                        <div class="footer">
                            <div class="vector-3"></div>
                            <span class="devmiguelfg">devmiguelfg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="description">
                    <span class="misifu">Golden Pet</span><span class="misifu-description">“Mang đến cho các Pet xinh yêu những trải nghiệm dịch vụ tốt nhất”</span>
                    <!-- <div class="navigation">
                      <div class="frame-4"></div>
                      <div class="frame-5"></div>
                    </div> -->
                    <input class="description-input" />
                </div>
            </div>
        </div>
    </div>

</body>
</html>

