@{
    ViewBag.Title = "Thông tin về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">Thông tin về chúng tôi</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Boarding</span> & <span class="text-secondary">Daycare</span></h1>
            @{Html.RenderAction("getAboutUs", "Default"); }

        </div>
        <div class="col-lg-5">
            <div class="row px-3">
                @{ Html.RenderAction("getImg", "Default", new { type = "about" });}

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img class="img-fluid w-100" src="~/Content/img/feature.jpg" alt="">
        </div>
        <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">Tại sao nên chọn chúng tôi?</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Sự chăm sóc tốt nhất</span> dành cho pet yêu</h1>
            <p class="mb-4">Tự tin vào những kiến thức - kinh nghiệm - trải nghiệm, GoldenPet muốn mang lại một dịch vụ chăm sóc tốt nhất dành cho các bé iu. Đảm bảo Boss vui, sen cũng vui!"</p>
            <div class="row py-2">
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-cat font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Tận tâm</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-doctor font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Chuyên nghiệp</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-care font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Kiến thức</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-dog font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Trải nghiệm</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 pt-5 pb-3">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-secondary mb-3">Đội ngũ tại GoldenPet</h4>
        <h1 class="display-4 m-0">Gặp gỡ <span class="text-primary">các chuyên gia</span></h1>
    </div>
    <div class="row">
        @{Html.RenderAction("getImg", "Default", new { type = "team" });}
    </div>
</div>

