<div class="container-fluid bg-light pt-5 pb-4">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Các gói dịch vụ</h4>
            <h1 class="display-4 m-0">Tốt nhất <span class="text-primary">cho các bé yêu</span></h1>
        </div>
        <div class="row">
            @{Html.RenderAction("getPricingPlan", "Default"); }
        </div>
    </div>
</div>